<div class="footer pt-5 pb-4 footer-light" id="footer-main">
  <div class="row text-center text-sm-left align-items-sm-center">
    <div class="col-sm-6">
      <p class="text-sm mb-0">&copy; 2019 <a href="https://webpixels.io" class="h6 text-sm"
          target="_blank">Webpixels</a>. All rights reserved.</p>
    </div>
    <div class="col-sm-6 mb-md-0">
      <ul class="nav justify-content-center justify-content-md-end">
        <li class="nav-item dropdown border-right">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img alt="Image placeholder" src="../../assets/img/icons/flags/ro.svg">
            <span class="h6 text-sm mb-0">RO</span>
          </a>
          <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            <a href="#" class="dropdown-item"><img alt="Image placeholder"
                src="../../assets/img/icons/flags/es.svg" class="mr-2">Spanish</a>
            <a href="#" class="dropdown-item"><img alt="Image placeholder"
                src="../../assets/img/icons/flags/us.svg" class="mr-2">English</a>
            <a href="#" class="dropdown-item"><img alt="Image placeholder"
                src="../../assets/img/icons/flags/gr.svg" class="mr-2">Greek</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" href="#">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
